body {
    background-color:ghostwhite;
}

main {
    display: flex;
    flex-direction: row;
}

.kaartje {
    border: solid 2px #bfbfbf;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template: auto auto 100px 50px / 1fr 1fr;
}

.kaartje>* {
    font-size: 20px;
}

.naam {
    color: black;
    font-size: 26px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.connectie {
    color: #bfbfbf;
    grid-column: 1/2;
    grid-row: 2/3;
}

.gender {
    grid-column: -1/2;
    grid-row: 1/3;
    text-align: right;
}

.naam,
.connectie,
.gender {
    padding: 0;
    margin: 0;
}

.vraag {
    color: #808080;
    grid-column: 1/3;
    grid-row: 3/4;
    padding-top: 15px;
}

.vet {
    color: #262626;
}

.approve {
    color: #00ff00;
    border: solid 2px #00ff00;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    text-align: center;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
}

.decline {
    color: red;
    border: solid 2px red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 10px;
    grid-column: 2/3;
    grid-row: 4/5;
}



